* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  /* set base font-size: 10px (1rem == 10px), easier, eg: 2.1rem == 21px */
  font-size: 62.5% !important;
}

:root {
  --color-primary: #e44232;
  --color-secondary: #f9f7f7;

  --color-gray: #eee;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: rgb(139, 139, 139);
  --color-red: #ff0000;
  --color-yellow: #ffd700;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: rgb(8, 202, 8);

  --margin-s: 0.3rem;
  --margin-m: 0.5rem;
  --margin-l: 0.8rem;
  --margin-xl: 1.3rem;
  --margin-xxl: 2.1rem;
  --margin-page: 3.3rem;

  --padding-s: 0.3rem;
  --padding-m: 0.5rem;
  --padding-l: 0.8rem;
  --padding-xl: 1.3rem;
  --padding-xxl: 2.1rem;

  --font-s: 1rem;
  --font-default: 1.6rem;
  --font-m: 2rem;
  --font-l: 2.5rem;

  --logo-text: 2.4rem;

  --height-header: 6rem;

  /* total width 1200px */
  --width-sidebar-left: 25rem;
  --width-sidebar-right: 35rem;
  --width-main: 60rem;

  /* breakpoints: 480px, 768px, 1024px, 1200px */
  --br-s: 48em;
  --br-m: 76.8em;
  --br-l: 102.4em;
  --br-xl: 120em;

  --icon-size: 1.5rem;
}

body {
  font-size: var(--font-default) !important;
  background-color: var(--color-gray-light);
}

.link {
  text-decoration: none;
  color: inherit;
}

/* override material svg icon size, default is 1.5rem*/
.MuiSvgIcon-root {
  font-size: var(--icon-size) !important;
  width: 1.6em !important;
  height: 1.6em !important;
}

/* override material svg icon size, default is 1.5rem*/
.MuiAvatar-root {
  width: 45px !important;
  height: 45px !important;
}

/* override material props*/
.MuiIconButton-root {
  transition: none !important;
  font-size: var(--font-default) !important;
}

.MuiButton-root {
  font-size: 1.6rem !important;
}

.MuiButton-startIcon {
  color: var(--color-primary) !important;
}

/* header text */
.MuiTypography-body2 {
  font-size: var(--font-default) !important;
}

.MuiMenuItem-root {
  font-size: var(--font-default) !important;
}

.MuiBadge-badge {
  font-size: var(--font-s) !important;
}
