.app-layout__main {
  display: flex;
  margin-top: var(--margin-m);
  justify-content: center;
}

.app-layout__feed {
  flex: 0 1 100%;
  max-width: var(--width-main);
  margin: 0 var(--margin-l);
}

@media (min-width: 30em) {
  .app-layout__feed {
    flex: 1 1 50%;
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .app-layout__feed {
    flex: 1 1 50%;
    max-width: var(--width-main);
  }
}
