.add-post {
  border: 1px solid blue;
}

.add-post__textarea {
  width: 100%;
  resize: none;
  font-size: var(--font-default);
  font-family: inherit;
  padding: var(--padding-s) var(--padding-s);
}

.add-post__textarea:focus {
  outline: none;
}

.add-post__btn {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}

.add-post__btn-list {
  display: flex;
  justify-content: space-between;
}

/* not using display: none; to hide because label would not be accessible by keyboard*/
.add-post__file-select--hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome. Source: MDN*/
.add-post__file-select:focus + label {
  outline: thin dotted;
}
.add-post__file-select:focus-within + label {
  outline: thin dotted;
}

.add-post__preview--hidden {
  display: none;
}

.add-post__preview--visible {
  display: block;
}
